<h1>All products </h1>
{{#if products}}
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each products}}
      <div class="col">
        <div class="card h-100 pt-4">
          <img
            style="width: 85%; margin: 0 auto;"
            src="https://cdn.educba.com/academy/wp-content/uploads/2023/11/Open-Source-Operating-System.jpg"
            class="card-img-top"
            alt="Photo"
          />
          <div class="card-body d-flex flex-column justify-content-between">
            <h1 class="card-title">{{title}}</h1>
            <h1 class="card-title">{{id}}</h1>
            <div>
              <p class="card-text text-end">$ {{price}}.00</p>
              <div class="d-flex justify-content-end">
                <div
                  class="btn-group"
                  role="group"
                  aria-label="Default button group"
                >
                  <a
                    href="/product/{{{_id}}}"
                    class="btn btn-outline-success"
                  >Read</a>
                  {{#if @root.token}}{{else}}
                    {{#ifequal created_by @root.userId}}
                      <a
                        href="/add/{{{_id}}}"
                        class="btn btn-outline-primary"
                      >Edit</a>
                    {{/ifequal}}
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  yo'q
{{/if}}